</div>
<div id="push"></div>
</div>
<div id="footer">
	<div class="container">
		<br/>
		<p id="copyright" style="float: right">&copy; SHET</p>
	</div>
</div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>