<!DOCTYPE html>
<html>
<head>
  <title>HoldThePhone</title>
  <meta charset="UTF-8"> 
  <link href="/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <h1>Hold The Phone</h1>
  <div class="container container-main-content">

