<% include header %>

<form action="/panic" role="form" method="post">
	<input type="text" id="roomid" name="roomid" value=<%=roomid%> />
	<button type="submit" class="btn btn-default">HELP ME</button>
</form>

<% include footer %>