<% include header %>

<script>
	function disableButton() {
		var url = '/panic?roomid=' + '<%=roomid%>';
		$("#panic").attr("disabled", "disabled");
		jQuery.ajax(url);
		window.setTimeout(function() {$('#panic').removeAttr("disabled")}, 3000);
	}
</script>


<form action="/panic" role="form" method="post">
	<input type="text" id="roomid" name="roomid" value=<%=roomid%> />
	<button type="button" class="btn btn-default" onclick="disableButton();" id="panic">HELP ME</button>
</form>

<% include footer %>